.section__header {
    background-color: $color-gray;
    display: grid;
    grid-template-columns: 10% 90%;
    font-size: 1.6rem;
    padding: 1rem 6rem;
    @include breakpoint(tablet) {
        padding: 1rem 3.5rem;
        grid-template-columns: 20% 80%;
    }
    .logo-wrapper {
        text-align: center;
        width: 100%;
        span {
            color: $color-white;
            width: 100%;
        }
    }

    .header-list {
        display: flex;
        align-items: center;
        width: 100%;
        &__item {
            color: $color-white ;
            padding: 0 5rem;
            cursor: pointer;
            transition: all 0.4s ease;
            @include breakpoint(tablet) {
                padding: 0 1rem;
            }
            &--right {
                flex-grow: 1;
                text-align: right;
            }
            &:hover{
                color: $color-blue;
                font-weight: 500;
            }
        }
    }
}
