h1{
    font-size: 10rem;
    font-weight: 500;
    line-height: 99%;
    margin-bottom: 2rem;

    @include breakpoint(tablet){
        font-size: 8rem;
    }
}

h2{
    font-size: 3.6rem;
    font-weight: 400;
}

h3{
    font-size: 2.4rem;
    font-weight: 400;
}
h4{
    font-size: 1.8rem;
}
p{
    font-size: 1.5rem;
}


.bold{
    font-weight: 500;
}    
.normal{
    font-weight: 400;
}
.light{
    font-weight: 300;
}
.white{
    color: $color-white;
    text-align: center;
}
.gray{
    color: $color-gray-middle;
}
.blue{
    color: $color-blue;
}
.center{
    text-align: center;
}